@import './helpers/fonts.scss';
@import './helpers/variables.scss';
@import './helpers/mixins.scss';
@import './helpers/normalize.scss';
@import './helpers/visually_hidden.scss';
@import './helpers/wrap.scss';
@import './basic_reset.scss';
@import './btn.scss';
@import './container.scss';
@import './header.scss';
@import './main.scss';
@import './notifications.scss';
@import './footer.scss';
@import './card-one_movie.scss';
@import './pagination.scss';
@import './modal.scss';
