.btn {
  min-width: 136px;
  height: 44px;
  padding: 13px 10px;
  border: 1px solid $primary-black;
  border-radius: 5px;
  background-color: transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: $primary-black;
}

.btn--header {
  border: 1px solid $primary-white;
  color: $primary-white;
}

.btn--accent {
  border: 1px solid $accent-color;
  background-color: $accent-color;
  color: $primary-white;
}
