.content-title {
  margin-top: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  color: $primary-black;
}
.content-list {
  margin: 20px 0;
}
.content-item {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: inherit;
  & + & {
    margin-top: 10px;
  }
  & .item-part {
    width: 70px;
    /* display: block; */
    margin-right: 40px;
    color: $details-secondary-text-color;
  }
  & .rating {
    padding: 0 10px;
    color: $primary-white;
    background: $accent-color;
    border-radius: 5px;
  }

  & .item-data {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: inherit;

    display: flex;
    align-items: center;
    text-transform: uppercase;
  }

  & .item-data--accent {
    display: inline-block;
    margin-right: 3px;
    padding-top: 1px;
    min-width: 36px;
    min-height: 16px;
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
    color: $primary-white;
    background-color: $accent-color;
  }

  & .item-data--accent.item-data--grey {
    margin-left: 3px;
    color: $primary-black;
    background-color: #f7f7f7;
  }

  // & .genre-list {
  //   display: flex;
  //   flex-wrap: wrap;
  // }

  & .genre-data {
    text-transform: none;
  }
}

.title-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: inherit;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  color: inherit;
  margin-bottom: 40px;
}

.one-movie-image {
  border-radius: 5px;
  max-width: 294px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .card-box {
    display: flex;
  }
  .box-image {
    min-width: 294px;
    // min-height: 416px;
    margin-right: 30px;
  }
  .content-title {
    margin-top: 0;
    font-size: 30px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1024px) {
  .box-image {
    min-width: 426px;
    // min-height: 514px;
  }
  .content-item .item-part {
    margin-right: 83px;
  }
  .one-movie-image {
    max-width: 426px;
  }
}
