.container {
  max-width: 320px;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 75px;
    padding-right: 75px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 1024px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 71px;
    padding-right: 71px;
  }
}
