.footer {
  &-modal {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  background-color: $secondary-bg-color;
  text-align: center;
  padding: 29px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: $footer-text-color;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.19;
  }
}

.footer-text {
  @media screen and (max-width: 767px) {
    max-width: 240px;
    margin: 0 auto;
    line-height: 1.5;
  }
}
.footer-link {
  text-decoration: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  color: $accent-color;
}
.heart-icon {
  margin: 0 5px 3px 5px;
}

html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
header {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
  width: 100%;
}
.main-content {
  /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 1 0 auto;
}
footer {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}

.footer-min-library {
  @media screen and (max-width: 768px) {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
