.header {
  padding: 41px 20px;
  margin: 0 auto;
  height: 230px;
  color: $primary-white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen and (min-width: 768px) {
    padding: 41px 71px;
  }
  @media screen and (min-width: 1024px) {
    margin: 0 auto;
    max-width: 1600px;
  }
}

.header-home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../assets/images/bg320px/home_bg320@1x.jpg);
  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../assets/images/bg320px/home_bg320@2x.jpg);
  }
  @media screen and (min-width: 450px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../assets/images/bg768px/home_bg768@1x.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../assets/images/bg768px/home_bg768@2x.jpg);
    }
  }

  @media screen and (min-width: 769px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../assets/images/bg1024px/home_bg1024@1x.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../assets/images/bg1024px/home_bg1024@2x.jpg);
    }
  }
}

.header-lib {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../assets/images/bg320px/my_lib_bg320@1x.jpg);
  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../assets/images/bg320px/my_lib_bg320@2x.jpg);
  }
  @media screen and (min-width: 450px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../assets/images/bg768px/my_lib_bg768@1x.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../assets/images/bg768px/my_lib_bg768@2x.jpg);
    }
  }
  @media screen and (min-width: 769px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../assets/images/bg1024px/my_lib_bg1024@1x.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../assets/images/bg1024px/my_lib_bg1024_@2x.jpg);
    }
  }
}

.header-modal {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../assets/images/bg320px/details_bg320@1x.jpg);
  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../assets/images/bg320px/details_bg320@2x.jpg);
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../assets/images/bg1024px/details_bg1024@1x.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../assets/images/bg1024px/details_bg1024@2x.jpg);
    }
  }
}

.header-container {
  margin: 0 auto;
  width: 100%;
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 1024px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 38px;
  line-height: 1.17;
}

.logo {
  display: flex;
  align-items: center;
}
.logo:hover {
  color: $primary-white;
}
.logo-icon {
  margin-right: 10px;
}
.logo-text {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline-block;
    font-weight: 500;
    font-size: 30px;
  }
}

.menu {
  display: flex;
  font-weight: 500;
  font-size: 12px;

  text-transform: uppercase;
}
.menu-item:not(:last-child) {
  margin-right: 39px;
}

.menu-link {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover {
  color: $accent-color;
}

.menu-link--curent::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background: $accent-color;
}

.search {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 280px;
  @media screen and (min-width: 768px) {
    width: 336px;
  }
}

.input {
  margin: 0 auto;
  width: 100%;
  height: 30px;
  padding-bottom: 5px;

  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;

  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid #ffffff;
  outline: none;

  &::-webkit-input-placeholder {
    color: #ffffff;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }
  &:-ms-input-placeholder {
    color: #ffffff;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }
  &::-ms-input-placeholder {
    color: #ffffff;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }
  &::placeholder {
    color: #ffffff;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }
}

.button-search {
  position: absolute;
  top: 0;
  right: 0;
  width: 27px;
  height: 27px;
  background-image: url('../assets/images/search-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  color: transparent;
  border: none;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: $accent-color;
  }
}

.btn-box {
  display: flex;
  justify-content: center;
}
.notification {
  margin-top: 22px;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ff001b;
}
