.movies-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.movies-list-item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 1024px) {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    &:nth-child(3n) {
      margin-right: 0px;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0px;
    }
  }
}

.list-item-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  color: $primary-black;

  margin-top: 10px;

  @media screen and (min-width: 768px) {
    line-height: 1.13;
  }
}

.list-item-descr {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: $accent-color;

  margin-top: 5px;

  @media screen and (min-width: 768px) {
    line-height: 1.13;
  }
}
