.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: $primary-white;

  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  z-index: 1;
}

.is-hidden .modal-card {
  transform: scale(0, 0);
}

.modal-card {
  position: relative;
  margin: 0 auto;
  background-color: $primary-white;
  width: 100%;
}
.header-container-modal {
  position: relative;
}
.close {
  position: absolute;
  right: -4px;
  top: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: $primary-white;
  z-index: 1;
}

.close:hover,
.close:focus {
  background-color: $secondary-bg-color;
  outline: none;
}

.is-hidden-btn {
  display: none;
}
  .scroll-hidden {
    overflow-y: hidden;
  }