$main-font: 'Roboto';
$primary-white: #ffffff;
$primary-black: #000000;
$accent-color: #ff6b08;
$footer-text-color: #545454;
$secondary-bg-color: #f7f7f7;
$details-secondary-text-color: #8c8c8c;
$act-color: #ff6b085e;
