{{#each this}}
<div class="swiper-slide">
    <iframe width="250" height="140"
        src="http://www.youtube.com/embed/{{this}}?enablejsapi=1&rel=0&mute=1&modestbranding=1&showinfo=0&autohide=1"
        allow="autoplay; encrypted-media" frameborder="0" onpause allowfullscreen=""></iframe>
</div>
{{/each}}